// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wpw-chart {
	height: 700px;
	margin-bottom: 20px;
}
#tw-chart {
	position: relative;
	top:40px;
	height: 550px;
	width: 50%;
	float: left;
}
#pie-chart {
	top:40px;
	height: 550px;
	position: relative;
	width: 50%;
	float: right;
}
#tw-chart-full {
	position: relative;
	top:40px;
	height: 550px;
	width: 100%;
	float: left;
}
.center{
	position: center;
}