// Place all the styles related to the TeamOfTheWeeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-75{
  margin-left: 20%;
  margin-bottom: 50px;
}
.center-50{
  margin-left: 20%;
}
.center{
  text-align: center;
  margin-bottom: 30px;
}